@model BrnMall.Web.Models.FindPwdModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src="@{@WorkContext.ScriptDir}/Scripts/account.js" type="text/javascript"></script>
    <script type="text/javascript">
        var shadowName = "@Model.ShadowName";
    </script>
}
    <div id="warp">
        <div class="autohei">
            <div align="center">
                <img src="../images/zhuce.jpg" width="998" height="34" /></div>
            <div class="blank"></div>
            <div class="bord1 zhuc1">
                <div class="gerenxinxi">
                    <form name="findPwdForm" action="">
                        <div><strong class="left">帐&nbsp;&nbsp;&nbsp;&nbsp;号：</strong><input type="text" name="accountName" class="inpt1" size="30" value="" /><span class="red">*</span></div>
                        @if (Model.IsVerifyCode)
                        {
                            <div>
                                <strong class="left">验证码：</strong><input type="text" name="verifyCode" autocomplete="off" />
                                <img id="verifyImage" style="cursor: hand" height="24" title="点击刷新验证码" onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" />
                            </div>
                        }
                        <div align="center">
                            <a href="#" class="bt_b" style="margin: 0; padding: 3px 30px;" onclick="findPwd()"><img src="../images/tijiao.jpg" /></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>