@model BrnMall.Web.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <script src="@{@WorkContext.ScriptDir}/Scripts/account.js" type="text/javascript"></script>
    <script type="text/javascript">
        var returnUrl = "@Model.ReturnUrl";
        var shadowName = "@Model.ShadowName";
    </script>
}
<body id="body">
    <div id="warp">
        <div class="autohei">
            <div align="center">
                <img src="../images/zhuce.jpg" width="998" height="34" /></div>
            <div class="blank"></div>
            <div class="bord1 zhuc1">
                <h5>感谢您的注册，请完善您的个人信息,方便购物物流快递。</h5>
                <div class="gerenxinxi">
@*                    <div class="xixzhil">
                        <h2 class="xit">个人信息</h2>
                    </div>*@
                    <form name="registerForm" action="">
                        <div><strong class="left">帐号：</strong><input type="text" name="accountName" class="inpt1" size="30" value="" /><span class="red">*</span></div>
                        <div><strong class="left">密码：</strong><input type="password" name="password" value="" class="inpt1" size="30" /><span class="red">*</span></div>
                        <div><strong class="left">确认密码：</strong>
                            <input type="password" name="confirmPwd" value="" class="inpt1" size="30" /><span class="red">*</span></div>
                        @if (Model.IsVerifyCode)
                        {
                            <div>
                                <strong class="left">验证码：</strong><input type="text" name="verifyCode" autocomplete="off" />
                                <img id="verifyImage" style="cursor: hand" height="24" title="点击刷新验证码" onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" />
                            </div>
                        }
                        <div>
                            <div class="autohei co6">
                             <a href="@Url.Action("login", "account")">直接登录</a>
                             <a href="@Url.Action("FindPwd")">忘记密码？</a>
                            </div>
                        </div>
                        <div align="center">
                            <a href="#" class="bt_b" style="margin: 0; padding: 3px 30px;" onclick="register()">
                                <img src="../images/dz_a3.jpg" /></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
