<?xml version="1.0" encoding="utf-8"?>
<NOSQLConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <UserNOSQL>
    <Enabled>0</Enabled>
    <Name>redis</Name>
    <ParamList>readwritehosts=127.0.0.1:6379|readonlyhosts=127.0.0.1:6379</ParamList>
  </UserNOSQL>
  <ProductNOSQL>
    <Enabled>0</Enabled>
    <Name>redis</Name>
    <ParamList>readwritehosts=127.0.0.1:6379|readonlyhosts=127.0.0.1:6379</ParamList>
  </ProductNOSQL>
  <OrderNOSQL>
    <Enabled>0</Enabled>
    <Name>redis</Name>
    <ParamList>readwritehosts=127.0.0.1:6379|readonlyhosts=127.0.0.1:6379</ParamList>
  </OrderNOSQL>
</NOSQLConfigInfo>