@charset "utf-8";
/* CSS Document */
body {
	margin:0 auto;
	font-size:12px;
	font-family:"微软雅黑",Tahoma, Verdana, Arial;
	line-height:1.5;
	color:#333;
}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { 
	padding:0; 
	margin:0;
}
p {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family:"微软雅黑", Arial, Tahoma, Verdana;
}
textarea {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family:"微软雅黑", Arial, Tahoma, Verdana;
}
input {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family:"微软雅黑", Arial, Tahoma, Verdana;
}
form {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family:"微软雅黑", Arial, Tahoma, Verdana;
}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	font-family:"微软雅黑", Arial, Tahoma, Verdana;
	font-size: 12px;
}
ul,li,div,body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family:"微软雅黑", Arial, Tahoma, Verdana;
}
img {
	border:none;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #444;
}
a:hover {
	color: #e76006;
}
.clear {
	clear: both;
	display: inline;/*IE only*/
}
button{
	padding: 0;
	margin: 0;
	border: none;
}
