@model BrnMall.Web.Models.AjaxProductReviewListModel
@{
    Layout = null;
}
<ul class="pinglun">
@foreach (DataRow row in Model.ProductReviewList.Rows)
{
    <li>
        <div class="pinglunCon">
            <b>@row["star"]星</b>
            <div class="pinglunConC">@row["message"]</div>
        </div>
    </li>
}
</ul>
<div>
@for (int i = 1; i <= Model.PageModel.TotalPages; i++)
{
<a href="javascript:getProductReviewList(@Model.Pid, @i)">第 @i 页</a>
}
</div>